{{ $imagePath := print .Site.Data.resources.urls.s3ImagePath .Params.image }}

<div class="artworkDetail">
    <div class="artworkContent">
        <div class="artworkPageTitle artworkTitle">{{.Params.title}}</div>
        <div class="artworkLabel">
            <div class="artworkTitle">{{ .Params.title }}</div>
            <div>{{ .Params.dimensions }}</div>
            <div>{{ .Params.medium }}</div>
            <div>{{ .Params.year }}</div>
        </div>
        <div class="artworkDescription">{{.Content}}</div>

    </div>
    <div class="artworkImage" oncontextmenu="return false;">
        <img src="{{ $imagePath }}" />
    </div>

</div>