<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $title := print .Site.Title " | " (replace .Title "-" " " | title) }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    {{ $style := 
        resources.Get "scss/main.scss" |
        resources.ExecuteAsTemplate "scss/main.scss" . |
        resources.ToCSS |
        resources.Fingerprint
    }}
    
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">

    {{ template "_internal/google_analytics.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}
</head>