{{ $imagePath := "" }}
{{ with .Site.GetPage "/" }}
    {{ $imagePath = print .Site.Data.resources.urls.s3ImagePath .Params.bannerImagePath }}
{{ end }}
{{ $title := lower .Title }}

{{ if ne $title "home" }}
    <div class="mobileHeader">
        <div class="accentImage">
            <img src="{{ $imagePath }}" />
        </div>
        <div class="titleNav">
            <a class="title {{ if eq `home` $title }}active{{ end }}" href="/">
                <span class="english">Lina Habazi</span>
                <span>لينا حبازي</span>
            </a>
            <div class="menuIcons">
                <div class="hamburgerIcon" onclick="openNav()">=</div>
                <div class="xIcon" onclick="closeNav()">x</div>
            </div>
        </div>
    </div>
    <div class="mobileNav">
        {{ partial "navLinks.html" . }}
    </div>
{{ end }}