{{ $imagePath := "" }}
{{ with .Site.GetPage "/" }}
    {{ $imagePath = print .Site.Data.resources.urls.s3ImagePath .Params.bannerImagePath }}
{{ end }}
{{ $title := lower .Title }}

{{ if ne $title "home" }}
<div class="mobileHeader ">
    <div class="accentImage">
        <img src="{{ $imagePath }}" />
    </div>
    <div class="title {{ if eq `home` $title }}active{{ end }}">
        <a href="/">Lina Habazi</a>
    </div>
    <div class="hamburgerIcon" onclick="openNav()">=</div>
</div>
{{ end }}