<div class="portfolio">
  {{ range .Pages }}
  {{ $imagePath := print .Site.Data.resources.urls.s3ImagePath .Params.image }}

    <div class="listArtwork {{.Params.id}}">
      <a class="artworkImage imageLink" href="{{.Permalink}}">
        <img src="{{ $imagePath }}" />
      </a>
      <div class="artworkLabel">
        <div class="artworkTitle">{{ .Params.title }}</div>
        <div>{{ .Params.dimensions }}</div>
        <div>{{ .Params.medium }}</div>
        <div>{{ .Params.year }}</div>
    </div>
    </div>

  {{end}}
</div>