{{ $imagePath := "" }}
{{ with .Site.GetPage "/" }}
    {{ $imagePath = print .Site.Data.resources.urls.s3ImagePath .Params.bannerImagePath }}
{{ end }}
{{ $title := lower .Title }}

<nav class="sidebar">
    <div class="accentImage">
        <img src="{{ $imagePath }}" />
    </div>
    <div class="sidebarLinks">
        <div class="title {{ if eq `home` $title }}active{{ end }}">
            <a href="/">
                <span class="english">Lina Habazi</span>
                <br>
                <span>لينا حبازي</span>
            </a>
        </div>
        <div class="nav">
        {{ range .Site.Params.navlinks}}
            {{ if ne .draft true }}
            <div class="navLink {{ if eq .name $title }}active{{ end }}"><a href={{.url}}>{{.displayName}}</a></div>
            {{ end }}
        {{ end }}
        </div>
    </div>
    <div class="xIcon" onclick="closeNav()">X</div>
</nav>