{{ $imagePath := "" }}
{{ with .Site.GetPage "/" }}
    {{ $imagePath = print .Site.Data.resources.urls.s3ImagePath .Params.bannerImagePath }}
{{ end }}
{{ $title := lower .Title }}

<nav class="sidebar">
    <img src="{{ $imagePath }}" class="accentImage" />
    <div class="sidebarLinks">
        <div class="title {{ if eq `home` $title }}active{{ end }}">
            <a href="/">
                <span class="english">Lina Habazi</span>
                <br>
                <span>لينا حبازي</span>
            </a>
        </div>
        {{ partial "navLinks.html" . }}
    </div>
    <!-- <div class="xIcon" onclick="closeNav()">x</div> -->
</nav>