{{ $seriesData := index .Site.Data.content.artwork .Params.seriesId }}
{{ $artworkData := index $seriesData .Params.artworkId }}
<div class="artworkDetail">
    <div class="artworkContent">
        <div class="artworkPageTitle artworkTitle">{{$artworkData.title}}</div>
        <div class="artworkLabel">
            <div class="artworkTitle">{{ $artworkData.title }}</div>
            <div>{{ $artworkData.dimensions }}</div>
            <div>{{ $seriesData.medium }}</div>
            <div>{{ $artworkData.year }}</div>
        </div>
        <div class="artworkDescription">{{.Content}}</div>

    </div>
    <div class="artworkImage">
        <img src="{{$artworkData.image}}" />
    </div>

</div>