{{ $heroData := "" }}
{{ with .Site.GetPage "/" }}
  {{ $heroData = index .Site.Data.content.artwork .Params.seriesId .Params.artworkId }}
{{ end }}
{{ $title := lower .Title }}

{{ if ne $title "home" }}
<div class="mobileHeader ">
    <div class="accentImage">
        <img src="{{ $heroData.heroImage }}" />
    </div>
    <div class="title {{ if eq `home` $title }}active{{ end }}">
        <a href="/">Lina Habazi</a>
    </div>
    <!-- <div class="navIcon" onclick="toggleNav()">=/X</div> -->
    <div class="hamburgerIcon" onclick="openNav()">=</div>
    <!-- <div class="xIcon" onclick="toggleNav()">X</div> -->
</div>
{{ end }}