<div class="portfolio">
  {{ range .Pages }}
  {{ $seriesData := index .Site.Data.content.artwork .Params.seriesId }}
  {{ $artworkData := index $seriesData .Params.artworkId }}
    <div class="listArtwork {{.Params.artworkId}}">
      <a class="artworkImage imageLink" href="{{.Permalink}}">
        <img src="{{$artworkData.image}}" />
      </a>
      <div class="artworkLabel">
        <div class="artworkTitle">{{ $artworkData.title }}</div>
        <div>{{ $artworkData.dimensions }}</div>
        <div>{{ $seriesData.medium }}</div>
        <div>{{ $artworkData.year }}</div>
    </div>
    </div>

  {{end}}
</div>