<div class="portfolio">
  {{ range .Pages }}
  {{ $seriesData := index .Site.Data.artwork .Params.seriesId }}
  {{ $artworkData := index $seriesData .Params.artworkId }}
  {{ $imagePath := print .Site.Data.resources.urls.s3ImagePath $artworkData.image }}

    <div class="listArtwork {{.Params.artworkId}}">
      <a class="artworkImage imageLink" href="{{.Permalink}}">
        <img src="{{ $imagePath }}" />
      </a>
      <div class="artworkLabel">
        <div class="artworkTitle">{{ $artworkData.title }}</div>
        <div>{{ $artworkData.dimensions }}</div>
        <div>{{ $artworkData.medium }}</div>
        <div>{{ $artworkData.year }}</div>
    </div>
    </div>

  {{end}}
</div>