.bio-container {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bio {
    .profileImage{
      max-width: 250px;
      @include md {
        max-width: 200px;
      }
      @include sm {
        max-width: 115px;
      }
      img {
        margin: 20px 20px 10px 0;
        max-width: 100%;
        height: auto;
        float: left;
      }
    }
    .bioText{
      text-align: justify;
      max-width: 650px;
    }
  }
  .bottomNote {
    display: inline-block;
    margin-top: 15px;
    .boldItalic{
      font-style:italic;
      font-weight: 900;
    }
  }
}
