.heroArt {
    width: 50vw;

    .backgroundImage {
        width: 50vw;
        background-color: $mid-blue-grey;
        border-radius: 0 0 25px 0;

        object-fit: cover;
        height: 100vh;

        // opacity: 0;
        // -webkit-transition: all 2s ease; 
        // -moz-transition: all 2s ease; 
        // -ms-transition: all 2s ease; 
        // -o-transition: all 2s ease; 
    }
    .titleCard {
        background-color: $warm-off-white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        bottom: 30px;
        left: 30px;
        border-radius: 8px;
        padding: 13px 25px 15px 20px;
        max-width: 60%;

        .title {
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            color: $dark-blue-grey;
        }

        .subtitle {
            font-size: 11px;
            color: $mid-blue-grey;
        }
    }

}