.mobileHeader {
    display: none;
    @include sm {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: max-content;

        .title {
            text-align: left;
            font-size: 35px;
            line-height: 40px;
            text-transform: uppercase;
            max-width: 270px;
            margin-left: 50px;
            
            a {
                letter-spacing: 3px;
                word-spacing: 5px;
                br {
                    // display: inline-block;
                    // width: 50px;
                }
            }
        }
    
        .hamburgerIcon {
            display: block;
            position: absolute;
            right: 50px;
            top: 50px;
        }
    
        .xIcon {
            display: none;
        }
    
        .accentImage {
            height: 20px;
            width: unset;
            
            img {
                object-position: left center; 
                object-fit: cover;
                width: 100vw;
                height: unset;
                max-height: 100%;
                border-radius: 0 0 100px 0;
            }
        }

        .sidebarLinks {
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-start;
            // padding: 0 50px 0 50px;
            // .nav, .socialIcons {
            //     display: none;
            // }
            .title {
                text-align: left;
                font-size: 35px;
                line-height: 40px;
                text-transform: uppercase;
                max-width: 270px;
                
                a {
                    letter-spacing: 3px;
                    word-spacing: 5px;
                    br {
                        // display: inline-block;
                        // width: 50px;
                    }
                }
            }
        }
    }
    @include xs {
        .title {
            font-size: 25px;
        }
    }
}
// .mobileHeader.toggle {
//     display: none;
// }