.sidebar {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100vh;
    position: sticky;
    top: 0;
    .hamburgerIcon, .xIcon {
        display: none;
    }

    @include sm {
        display: none;
        // background-color: $warm-off-white;
        .xIcon {
            display: block;
            position: absolute;
            right: 50px;
            top: 50px;
        }
        .open {
            position: absolute;
            // overflow: hidden;
        }
    }

    .accentImage {
        width: 20px;
        // display: none;
        // @include sm {
        //     display: block;
        // }
        
        img {
            object-position: left center; 
            object-fit: cover;
            max-width: 100%;
            height: 100vh;
            border-radius: 0 0 100px 0;
        }
    }
    .sidebarLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 35px;
        .title {
            text-align: left;
            font-size: 48px;
            line-height: 50px;
            text-transform: uppercase;
            color: $dark-blue-grey;
            max-width: 250px;

            a {
                letter-spacing: 5px;
            }

            @include sm {
                font-size: 30px;
                line-height: 40px;;
                max-width: 150px;
            }
        }
        .nav {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            @include sm {
                font-size: 15px;
            }
            .navLink {
                
            }
        }
        .socialIcons {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .socialIcon {

            }
        }
        .title.active, .navLink.active {
            a {
                color: $dark-accent;
            }
            a:hover {
                color: $accent;
            }
        }
    }
}
// .sidebar.hidden {
//     @include sm {
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         gap: 15px;
//         height: max-content;
    
//         .hamburgerIcon {
//             display: block;
//             position: absolute;
//             right: 30px;
//             top: 50px;
//         }
    
//         .xIcon {
//             display: none;
//         }
    
//         .accentImage {
//             height: 20px;
//             width: unset;
            
//             img {
//                 object-position: left center; 
//                 object-fit: cover;
//                 width: 100vw;
//                 height: unset;
//                 max-height: 100%;
//                 border-radius: 0 0 100px 0;
//             }
//         }

//         .sidebarLinks {
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-start;
//             padding: 0 50px 0 50px;
//             .nav, .socialIcons {
//                 display: none;
//             }
//             .title {
//                 text-align: left;
//                 font-size: 35px;
//                 line-height: 40px;
//                 text-transform: uppercase;
//                 max-width: 270px;
                
//                 a {
//                     letter-spacing: 3px;
//                     word-spacing: 5px;
//                     br {
//                         // display: inline-block;
//                         // width: 50px;
//                     }
//                 }
//             }
//         }
//     }
// }