<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        <div class="root {{ if eq `home` (lower .Title) }}home{{ else }}pages{{ end }}">
            {{ partial "mobileHeader" . }}
            {{ partial "sidebar" . }}
            <div class="content">
                <div class="main">
                    {{ block "main" . }}{{end}}
                </div>
                
                {{ partial "footer.html" . }}
            </div>
        </div>

        <script>
            const openNav = () => {
                document.getElementsByClassName("mobileNav")[0].style.display = "flex";
                document.getElementsByClassName("hamburgerIcon")[0].style.display = "none";
                document.getElementsByClassName("xIcon")[0].style.display = "flex";
            }
            const closeNav = () => {
                document.getElementsByClassName("mobileNav")[0].style.display = "none";
                document.getElementsByClassName("hamburgerIcon")[0].style.display = "flex";
                document.getElementsByClassName("xIcon")[0].style.display = "none";
            }
            const detectInstagram = () => {
                document.write(navigator.userAgent)
                if (navigator.userAgent.match(/instagram/i)) {
                    document.getElementsByClassName("root")[0].classList.add('instagram-browser');
                }
            }
            detectInstagram();
        </script>
    </body>
</html>
