.artworkDetail {
    display: flex;
    flex-direction: row;
    margin: 50px 0 50px 0;
    width: 735px;
    justify-content: space-between;
    @include md {
        flex-direction: column;
        margin: 50px 0 50px 0;
        align-items: center;
    }
    @include sm {
        flex-direction: column;
        margin: 0 0 50px 0;
        align-items: center;
        width: 300px;
    }
    .artworkContent {
        display: flex;
        flex-direction: column;
        width: 235px;
        @include md {
            max-width: 400px;
        }
        @include sm {
            width: 300px;
        }
        .artworkPageTitle {
            font-size: 30px;
            margin-bottom: 25px;
        }
        .artworkDescription {
            font-size: 15px;
        }
    }

}