.bio-container {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bio {
    .profileImage{
      margin: 20px 20px 10px 0;

      float: left;
      background-color: grey;
      border: 1px solid $light-blue-grey;

      width: min-content;

      @include sm {
        margin: 0;
        float: none;
      }
      img {
        width: 230px;
        height: 300px;

        object-fit: cover;
        object-position: 50% 25%;
        display: block;

        @include md {
          width: 175px;
          height: 230px;
        }
        @include sm {
          width: 170px;
          height: 200px;
        }
      }
    }
    .bioText{
      text-align: justify;
      max-width: 650px;
      line-height: 25px;
    }
  }
  .bottomNote {
    display: inline-block;
    text-align: justify;
    margin-top: 15px;
    width: 100%;
    .bold{
      font-weight: 900;
    }
    .italic {
      font-style:italic;
    }
    .underline {
      text-decoration: underline;
    }
  }
}
