.bannerArt {
    width: 50vw;
    height: 100%;
    
    @include sm {
        width: 35vw;
    }
    .backgroundImage {
        width: 50vw;
        background-color: $mid-blue-grey;
        border: 1px solid $light-blue-grey;
        border-style: hidden solid solid hidden;
        border-radius: 0 0 25px 0;

        object-fit: cover;
        height: 100%;

        @include sm {
            width: 25vw;
        }
    }
    .titleCard {
        background-color: $warm-off-white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        bottom: 30px;
        left: 30px;
        border: 1px solid $light-blue-grey;
        border-radius: 8px;
        padding: 13px 25px 15px 20px;
        max-width: 60%;

        @include sm {
            display: none;
        }

        .title {
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            color: $dark-blue-grey;
        }

        .subtitle {
            font-size: 11px;
            color: $mid-blue-grey;
        }
    }

}

.bannerArt.instagram-browser-banner {
    height: 50%;
    .backgroundImage {
        height: 50%;
    }
}