.bio-container {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bio {
    .profileImage{
      margin: 20px 20px 10px 0;

      float: left;
      background-color: grey;

      @include xs {
        margin: 0;
        float: none;
      }
      img {
        width: 230px;
        height: 300px;

        object-fit: cover;
        display: block;

        @include md {
          width: 175px;
          height: 230px;
        }
        @include sm {
          width: 180px;
          height: 240px;
        }
        @include xs {
          width: 200px;
          height: 260px;
        }
      }
    }
    .bioText{
      text-align: justify;
      max-width: 650px;
    }
  }
  .bottomNote {
    display: inline-block;
    margin-top: 15px;
    .bold{
      font-weight: 900;
    }
    .italic {
      font-style:italic;
    }
    .underline {
      text-decoration: underline;
    }
  }
}
