.mobileHeader {
    display: none;
    @include sm {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: max-content;

        .title {
            text-align: left;
            font-size: 35px;
            line-height: 40px;
            text-transform: uppercase;
            max-width: 270px;
            margin-left: 50px;
            
            a {
                letter-spacing: 3px;
                word-spacing: 5px;
            }
        }
    
        .hamburgerIcon {
            display: block;
            position: absolute;
            right: 50px;
            top: 40px;
            font-size: 20px;
        }
    
        .accentImage {
            height: 20px;
            width: unset;
            
            img {
                object-position: left center; 
                object-fit: cover;
                width: 100vw;
                height: unset;
                max-height: 100%;
                border-radius: 0 0 100px 0;
            }
        }
    }
    @include xs {
        .title {
            font-size: 25px;
        }
    }
}