.sidebar {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100vh;
    position: sticky;
    top: 0;

    @include sm {
        display: none;
    }
    @include md {
        gap: 30px;
    }

    .xIcon {
        display: none;
        @include sm {
            display: block;
            position: absolute;
            right: 50px;
            top: 50px;
        }
    }

    img.accentImage {
        width: 20px;
        object-position: left center; 
        object-fit: cover;
        border-radius: 0 0 100px 0;
    }
    .sidebarLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 35px;
        @include md {
            gap: 20px;
        }
        .title {
            font-family: Jomhuria;
            text-align: left;
            font-size: 48px;
            line-height: 50px;
            text-transform: uppercase;
            color: $dark-blue-grey;
            max-width: 250px;
            @include md {
                font-size: 25px;
                line-height: 30px;
                max-width: 150px;
            }

            span.english {
                letter-spacing: 5px;
            }
        }
        .nav {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            @include sm {
                font-size: 15px;
            }
            @include md {
                font-size: 15px;
            }
            .navLink {
                
            }
        }
        .title.active, .navLink.active {
            a {
                color: $dark-accent;
            }
            a:hover {
                color: $accent;
            }
        }
        .socialIcons {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .socialIcon {

            }
        }
    }
}