//               //
// Custom styles //
//               //

//--- breakpoints ---//
// Small smartphones
$screen-xs-min: 375px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 1018px;

// // Tablets and small desktops
// $screen-lg-min: 992px;

// // Large tablets and desktops
// $screen-xl-min: 1200px;


// Extra small devices
@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
      @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
      @content;
  }
}

// // Large devices
// @mixin lg {
//   @media (max-width: #{$screen-lg-min}) {
//       @content;
//   }
// }

// // Extra large devices
// @mixin xl {
//   @media (max-width: #{$screen-xl-min}) {
//       @content;
//   }
// }

//--- colors ---//

$dark-blue-grey: #36363a;
$mid-blue-grey: #73737f;
$light-blue-grey: #d1d1e0;
$warm-off-white: #fffef9;

// turquoise accent
$accent: #19d0b2;
$dark-accent: #13a38b;

// raspberry accent
// $accent: #d01941;
// $dark-accent: #a31332;

//---- fonts ----//

$fonts: "Lato|Raleway|Roboto";

@import url("https://fonts.googleapis.com/css?family=#{$fonts}");
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Francois+One&family=Hammersmith+One&family=Jomhuria&display=swap');

//--- imports ---//

@import "portfolio";
@import "bio";
@import "banner";
@import "sidebar";
@import "cv";
@import "contact";
@import "mobileHeader";
@import "artworkDetail";

//--- general ---//

html,body {
  height: 100%;
  background-color: $warm-off-white;
  margin: 0;
  font-family: Cairo;
  -webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color:  transparent;
  overscroll-behavior: none;
  overflow-x: hidden;
}

.pageTitle {
  font-style: italic;
}

a {
  text-decoration: none;
  color: $dark-blue-grey;
  transition: 0.2s;
}
a:hover {
  text-decoration: none;
  color: $accent;
}

p, h2, h5 {
  color: $dark-blue-grey;
}

.root {
  display: flex;

  .content {
    display: flex;
    flex-direction: column;

    .main{
      height: 100%;
    }

    .copyright {
      font-size: 10px;
      color: $mid-blue-grey;
      text-align: right;
      padding: 0 15px 15px 0;
    }
  }
  .content.hidden {
    display: none;
  }
}

.root.pages {
  flex-direction: row;
  justify-content: flex-start;
  
  @include sm {
    flex-direction: column;
  }

  .content {
    flex-grow: 1;
    .main{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
    }
  }
}
.root.home {
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 100%;
  overflow: hidden;
  gap: 50px;

  .accentImage {
    display: none;
  }

  @include sm {
    gap: 30px;
    .sidebar {
      display: flex;
      .accentImage {
        display: none;
      }
      .xIcon {
        display: none;
      }
    }
  }

  .copyright {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.root.home.instagram-browser {

}

.artworkPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  .pageNav {
    margin-top: 30px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include sm {
      margin-top: 0px;
    }

    .disabled {
      color: $light-blue-grey;
    }
  }
}

.artworkDetail, .listArtwork {
  .artworkImage {
    max-width: 450px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: auto;
      border: 1px solid $light-blue-grey;
    }
  }
  .artworkLabel {
    color: $dark-blue-grey;
    font-size: 15px;
  }
  .artworkTitle {
    color: $dark-blue-grey;
    font-style: italic;
  }
}